<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Wavy login form</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>

<form class="login " action="/verify" method="post">
  <input type="text" placeholder="Username" name="username" required>
  <input type="password" name="password" placeholder="Password" required>
  <h4 style="color: red;">{{msg}}</h4>
  <button>Login</button>
</form>

<a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>
<!-- partial -->
  
</body>
</html>
